.sidebar{
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 60px;
  width: 80px;
  z-index: 200;
  padding-top: 5px;
  cursor: pointer;
}


.sidebar-link{
  
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-link:hover{
  background-color: #eeeeee;
}

.sidebar-link img{

  height: 25px;
  margin-bottom: 4px;
}

.sidebar-link div{
  font-family: roboto,ariel;
  font-size: 10px;
}